@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary)
}

:root {
  --button-video: #FFB050;
  --button-address: #4894FF;
  --text-subtitle: #A3A3A3;
  --font-primary: 'Montserrat', sans-serif;
  --background: #ECECEC;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-weight: 500;
  font-size: 0.875rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 16px ;
  background: var(--background);
}

.header__content {
  display: flex;
  padding-top: 65px;
  margin-bottom: 16px;
}

.header__image {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.header__subtitle {
  color: var(--text-subtitle)
}

.card__remote {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin-top: 16px;
}

.card__container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--background);
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__description {
  display: flex;
  align-items: center;
}

.card__subtitle {
  color: var(--text-subtitle)
}


.card__image {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.card__img-chat {
  position: relative;
}


.card__hour{ 
  padding: 16px;
  border-bottom: 1px solid var(--background);
  font-weight: 500;
}

.card__buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.card__button-video {
  background: var(--button-video);
  color: #fff;
}
.card__button-audio {
  background: #ECECEC;
}

.card__local {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin-top: 16px;
}

.card__button-address {
  background: var(--button-address);
  color: #fff;
}